################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repo/v15/Browse.VC.opendb
/.vs/*
/Assignment D/.vs/Assignment D/v15/ipch/AutoPCH/ee9104970764d8c3/CHATCLIENT2.ipch
/Assignment D/.vs/Assignment D/v15/ipch/AutoPCH/d46b74746de1275f/CHATSERVER2.ipch
/Assignment D/.vs/Assignment D/v15/Browse.VC.opendb
/Assignment D/.vs/Assignment D/v15/Browse.VC.db
/Assignment D/.vs/ProjectSettings.json
/Assignment D/.vs/slnx.sqlite
